{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<form action="{{ path('app_2fa_setup') }}" method="post">
    <label for="2fa_code">Entrez votre code 2FA :</label>
    <input type="text" name="auth_code" id="2fa_code" required>
    <button type="submit">Vérifier</button>
</form>
{% endblock %}
