{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<h1>Activer l'authentification à deux facteursb
	</h1>

	<p>Scannez ce QR code avec Google Authenticator :</p>
	<img src="{{qrCodeUrl}}" alt="QR Code">

	<form method="POST" action="{{ path('app_2fa_qrcode') }}">
		<label for="auth_code">Entrez le code :</label>
		<input type="text" name="auth_code" id="auth_code" required>
		<button type="submit">Vérifier</button>
	</form>

{% endblock %}
