{% extends 'base.html.twig' %}

{% block title %}Hello SecurityProfilController!
{% endblock %}

{% block body %}
	<button class="btn btn-outline-primary">
		<a href="{{ path('app_enable2fa') }}">Activer 2fa</a>
	</button>
{% endblock %}
